<div class="main-content">
    <h1>Rólunk</h1>
    <div class="main-container">
        <div class="img">
            <img src="https://firebasestorage.googleapis.com/v0/b/ek-szer.appspot.com/o/logo.png?alt=media&token=ea124e65-7c3a-4b50-a09f-2b09a5f01d53"
                alt="logo">
        </div>
        <div class="text">
            Az Ék-Szer Üzlet. nem csupán egy ékszerüzlet, hanem egy hagyományokban gazdag intézmény, amelyet évszázadok
            óta
            az elegancia és az igényesség jellemzett. Minden gyöngyöző gyémánt, ragyogó smaragd vagy érintetlen gyöngy,
            amelyet kínálunk, a mesterek keze nyomán született, akik mély tisztelettel és szenvedéllyel alkottak az
            ékszeriparban.<br>
            Boltunk kínálata nem csupán termékek sora, hanem egy kifinomult életstílus kifejeződése is. Ügyfeleinknek az
            üzletünk nem csupán egy bevásárló hely, hanem egy olyan ékszerüveg, ahol átélhetik a művészi kifinomultságot
            és
            a luxust.<br>
            Kérjük, lépjen be boltunkba, és engedje meg, hogy elragadja Önt a múlt és a jelen találkozásának varázsa. A
            vállalkozáunk. csapatának célja, hogy minden látogatása emlékezetes legyen, és hogy minAden vásárló életébe
            egy
            kis csillogást és eleganciát csempésszen.<br>
            Köszönjük, hogy velünk tart, és hagyja, hogy az Ék-Szer Üzlet újra és újra meghódítsa a szívét az örökkévaló
            szépség és a kifinomultság tárházával.
        </div>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" routerLink="/jewelrys">Kínálatunk megtekintése</button>
    </div>

</div>