<div class="main-content">
    <h1>Kapcsolat</h1>
    <div class="container">
        <div class="img">
            <img src="https://firebasestorage.googleapis.com/v0/b/ek-szer.appspot.com/o/logo.png?alt=media&token=ea124e65-7c3a-4b50-a09f-2b09a5f01d53">
        </div>
        <div class="text">
            <p>Ék-Szer Üzlet</p>
            <p>Ék-Szer Kft.</p>
            <br>
            <p><mat-icon>pin_drop</mat-icon> Szeged, Aradi tér 1.</p>
            <p><mat-icon>call</mat-icon> +36 90 123 4545</p>
            <p><mat-icon>mail</mat-icon> uzlet&commat;ek-szer.hu</p>
        </div>
    </div>
</div>