form{
    width: 100%;
}

mat-form-field{
    width: 100%;
}

input [type="file"]{
    width: 100%;
    margin: 10px 0;
}

#controls{
    display: block;
    width: 100%;
    margin: 20px 0;
}

h1{
    font-size: 1.5rem;
}
