  .column {
    width: 80%;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto 25px;
  }

  @media screen and (min-width: 768px) {
    .column {
      width: 25%;
      margin: 0 0 25px;
    }
    .prod-cont{
      width: 90%;
      margin: 0 auto;
    }
  }

  .product-card {
    padding: 10px;
    text-align: center;
    width: 100%;
  }

  .product-card:hover {
    background-color: #fafafa;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
  }

  h1 {
    margin: 30px;
  }

  h2 {
    margin: 10px 0;
  }

  .prod-img {
    width: 100%;
    height: auto;
  }

  .prod-cont{
    margin: 10px auto;
  }

  