h1{
    margin: 40px
}

form{
    width: 60%;
    display: block;
    align-self: center;
    align-items: center;
    margin: 25px auto;
    justify-content: center;
}

mat-form-field{
    width: 100%;
}

button{
    width: 100%;
    margin-top: 20px;
}