<div class="main-content">

    <div>
        <h1>Regisztráció</h1>


        <form [formGroup]="register" (submit)="addFelhasznalo()">
            <mat-form-field>
                <mat-label for="name">Felhasználónév</mat-label>
                <input matInput formControlName="name" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="email">E-mail cím</mat-label>
                <input matInput formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó</mat-label>
                <input matInput formControlName="password" type="password" required>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="passwordagain">Jelszó ismét</mat-label>
                <input matInput formControlName="passwordagain" type="password" required>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Regisztráció</button>
            <button mat-raised-button color="accent" routerLink="/login" type="button">Bejelentkezés</button>
        </form>
    </div>

</div>